{% extends 'layout.html' %}

{% block body %}

<h1>Dashboard</h1>
</br>

<div class="row">
<div class="col-md-6">
  <p><strong>How the "Intelleadgence" scraper works:</strong></p>
  <ol>
    <li>Define your search terms (e.g. gym, cafe, webdesign agency)</li>
    <li>Choose relevant locations (e.g. Berlin, London, San Francisco)</li>
    <li>Pick a business type <small><em>(optional)</em></small></li>
    <li>Filter (include/exclude) certain results <small><em>(optional)</em></small></li>
    <li>Preview the top 20 results for your scraping settings</li>
    <li>Select the maximum number of leads you want</li>
    <li>Submit your query...</li>
    ...and automagically:
    <li>Receive <strong>freshly scraped sales leads</strong> in your inbox!</li>
  </ol>
</div>

<div class="col-md-6">
  <p><strong>What you get:</strong></p>
  <ul>
    <li>The first 100 leads are free of charge!</li>
    <li>Preview scraper settings until you're happy with the results.</li>
    <li>Get name, address, website, phone, email, social media and more.</li>
    <li>"Live data" (directly scraped from the www)</li>
    <li>"Pay as you go": Only pay for the number of leads you really get!</li>
    <li>You only pay once for each lead - no duplicates!</li>
  </ul>
</div>
</div>

<hr>
<div style="padding-bottom: 30px"></div>

<form action="" method="POST">

{% from "includes/_formhelpers.html" import render_field %}


<div class="form-row">

    <div class="form-group col-md-2">
      <label for="inputCity"><i class="fa fa-search fa-lg"></i> Search terms* <span class="text-primary" data-balloon-length="medium" data-balloon="Up to five comma-separated search terms. Use synonyms for more results." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.queries, class_="form-control")}}
    </div>

    <div class="form-group col-md-2">
      <label for="inputCity"><i class="fa fa-map-marker fa-lg"></i> Locations* <span class="text-primary" data-balloon-length="medium" data-balloon="Up to five comma-separated locations. Get more granular for more results." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.locations, class_="form-control")}}
    </div>

    <div class="form-group col-md-2">
      <label for="select-type">Type <span class="text-primary" data-balloon-length="medium" data-balloon="If applicable: use one of the types that fits your query." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
        {{render_field(form.place_type, class_="form-control", id_="select-type")}}
    </div>

    <div class="form-group col-md-2">
      <label for="filters-include"><i class="fa fa-filter fa-lg"></i> Filters (include) <span class="text-primary" data-balloon-length="medium" data-balloon="Comma-separated 'include' filters filter for results that contain the keyword in their name or on homepage." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.filters_include, class_="form-control")}}
    </div>

    <div class="form-group col-md-2">
      <label for="filters-exclude"><i class="fa fa-filter fa-lg"></i> Filters (exclude) <span class="text-primary" data-balloon-length="medium" data-balloon="Comma-separated 'exclude' filters filter out all results that contain the keyword in their name or homepage." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.filters_exclude, class_="form-control")}}
    </div>

    <div class="form-group col-md-1" style="position: relative;">
      <button type="submit" onclick="toggler('loading');" value="preview" name="preview" class="btn btn-outline-primary" style="position: absolute; bottom: 0">Preview</button>
    </div>

    <div class="form-group col-md-1" style="position: relative;">
      <button type="button" onclick="toggler('order');" value="submit" name="submit" class="btn btn-primary" style="position: absolute; bottom: 0">Proceed</button>
    </div>

  </div>
<small class="form-text text-muted">*at least one term required</small>

<div style="padding-bottom: 10px"></div>

<div id="order" style="display:none">
  
  
  <strong>Please set the maximum of leads you want to scrape:</strong>

  <div style="padding-bottom: 50px"></div>
  
    <div class="row">

  <div class="col-md-6" style="font-size: 40px; display: flex; justify-content: center; align-items: center;">
      €0.10 / lead
  </div>

  <div class="col-md-6" style="font-size: 40px; display: flex; justify-content: center; align-items: center;">
      <span id="demo2">100</span><span style="color: white">.</span> leads for €<span id="demo3">10</span>
  </div>

  </div>
  
  <div style="padding-bottom: 30px"></div>
  
  <div class="range-slider">
  <input name="max_leads" class="range-slider__range" oninput="updateSlider(this.value)" type="range" min="10" max="10000" step="10" value="100">
  <span class="range-slider__value" id="demo">100</span>
  </div>

  <div style="padding-bottom: 30px"></div>

  <div class="col-md-12" style="display: flex; justify-content: center;">
    <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
  </div>

  <div class="form-row" style="display: flex; justify-content: center;">
    <div class="form-group col-md-3">
      {{render_field(form.email, class_="form-control")}}
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="checkbox" name="checkbox"> I did a preview and accept my settings and the <a href="/terms">T&Cs</a>
      </label>
    </div>
    <div class="form-group col-md-2" style="position: relative;">
      <button type="submit" name="submit" value="submit" class="btn btn-primary" style="position: absolute; top:24px">Order leads</button>
    </div>
  </div>
</div>

</form>

<div style="padding-bottom: 20px"></div>
<hr>
<div style="padding-bottom: 20px"></div>

<div id="loading" style="display:none">
  <div class="col-md-12" style="display: flex; justify-content: center;">
    <img src="/static/images/25.gif"><h4>
  </div>
</div>

{% if data %}
<h2>Preview</h2>
<span><em>Reveals the first 20 scraping results for the current search settings.</em></span>

<table class="table table-hover table-bordered table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Website</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
{% else %}
    Not result
{% endif %}
  
  <tbody>
    {% for row in data %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td>{{ row[1] }}</td>
      <td><span data-balloon-length="small" data-balloon="Buy leads to see full info including social media profiles" data-balloon-pos="up">{{ row[2] }}</span></td>
      <td>{{ row[3] }}</td>
      <td><span data-balloon-length="small" data-balloon="Buy leads to see full info including social media profiles" data-balloon-pos="up">{{ row[4] }}</span></td>
      <td><span data-balloon-length="small" data-balloon="Buy leads to see full info including social media profiles" data-balloon-pos="up">{{ row[5] }}</span></td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
