{% extends 'layout.html' %}

{% block body %}

<h1>Dashboard</h1>
</br>

<div class="row">
<div class="col-md-6">
  <p><strong>How the scraper works:</strong></p>
  <ol>
    <li>Define your search terms (vacation rental, cottage etc.)</li>
    <li>Choose locations (Brighton, Florida)</li>
    <li>Filter (include/exclude) certain results </br> <small><em>(define terms that should appear on the homepage)</em></small></li>
    <li>Preview the top 20 results for your scraping settings</li>
    <li>Select the maximum number of leads you want</li>
    <li>Submit your query...</li>
    ...and automagically:
    <li>Receive <strong>freshly scraped sales leads</strong> in your inbox!</li>
  </ol>
</div>

<div class="col-md-6">
  <p><strong>Features:</strong></p>
  <ul>
    <li>Preview scraper settings until you're happy with the results.</li>
    <li>Get the most relevant data (name, website, phone) instantly</li>
    <li>"Live data" (directly scraped from the www)</li>
    <li>Automatic de-duplication against all of our databases</li>
  </ul>
</div>
</div>

<hr>
<div style="padding-bottom: 30px"></div>

<form action="" method="POST">

{% from "includes/_formhelpers.html" import render_field %}


<div class="form-row">

    <div class="form-group col-md-2">
      <label for="inputCity"><i class="fa fa-search fa-lg"></i> Search terms* <span class="text-primary" data-balloon-length="medium" data-balloon="Up to five comma-separated search terms. Use synonyms for more results." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.queries, class_="form-control")}}
    </div>

    <div class="form-group col-md-2">
      <label for="inputCity"><i class="fa fa-map-marker fa-lg"></i> Locations* <span class="text-primary" data-balloon-length="medium" data-balloon="Up to five comma-separated locations. Get more granular for more results." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.locations, class_="form-control")}}
    </div>

    <div class="form-group col-md-2">
      <label for="filters-include"><i class="fa fa-filter fa-lg"></i> Filters (include) <span class="text-primary" data-balloon-length="medium" data-balloon="Comma-separated 'include' filters filter for results that contain the keywords in their name or on homepage." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.filters_include, class_="form-control")}}
    </div>

    <div class="form-group col-md-2">
      <label for="filters-exclude"><i class="fa fa-filter fa-lg"></i> Filters (exclude) <span class="text-primary" data-balloon-length="medium" data-balloon="Comma-separated 'exclude' filters filter out all results that contain the keywords in their name or homepage." data-balloon-pos="up"><i class="fa fa-info-circle"></i></span></label>
      {{render_field(form.filters_exclude, class_="form-control")}}
    </div>

    <div class="form-group col-md-1" style="position: relative;">
      <button type="submit" onclick="toggler('loading');" value="preview" name="preview" class="btn btn-outline-primary" style="position: absolute; bottom: 0">Preview</button>
    </div>

    <div class="form-group col-md-1" style="position: relative;">
      <button type="button" onclick="toggler('order');" value="submit" name="submit" class="btn btn-primary" style="position: absolute; bottom: 0">Proceed</button>
    </div>

  </div>
<small class="form-text text-muted">*at least one term required</small>

<div style="padding-bottom: 10px"></div>

<div id="order" style="display:none">


  <strong>Please set the maximum of leads you want to scrape:</strong>

  <div style="padding-bottom: 40px"></div>

  <div class="range-slider">
  <input name="max_leads" class="range-slider__range" oninput="updateSlider(this.value)" type="range" min="100" max="500" step="10" value="100">
  <span class="range-slider__value" id="demo">100</span>
  </div>

  <div style="padding-bottom: 30px"></div>

  <div class="col-md-12" style="display: flex; justify-content: center;">
    <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
  </div>

  <div class="form-row" style="display: flex; justify-content: center;">
    <div class="form-group col-md-3">
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form-group col-md-2" style="position: relative;">
      <button type="submit" name="submit" value="submit" class="btn btn-primary" style="position: absolute; top:24px">Start scraping</button>
    </div>
  </div>
</div>

</form>

<div style="padding-bottom: 20px"></div>
<hr>
<div style="padding-bottom: 20px"></div>

<div id="loading" style="display:none">
  <div class="col-md-12" style="display: flex; justify-content: center;">
    <img src="/static/images/25.gif"><h4>
  </div>
</div>

{% if data %}
<h2>Preview</h2>
<span><em>Reveals the first 20 scraping results for the current search settings.</em></span>

    {% if request_method == 'POST' %}
        <p class="text-info">Total: {{ data | length }} results</p>
    {% endif %}

<table class="table table-hover table-bordered table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Website</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
{% endif %}

<tbody>
    {% for row in data %}
        {% if loop.index <= 20 %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ row[0] }}</td>
          <td>********</td>
          <td>{{ row[2] }}</td>
          <td>********</td>
        </tr>
        {% endif %}
    {% endfor %}
</tbody>

</table>
{% endblock %}
