{% extends 'layout.html' %}

{% block body %}
<h2>General Terms and Conditions of TH Ventures UG (haftungsbeschränkt)</h2>
<p>"Intelleadgence" is a service of TH Ventures UG (haftungsbeschränkt), Theodor-Storm-Weg 16, Bensheim 64625.
The following General Terms and Conditions apply to all agreements concluded between the Customer and TH Ventures UG (haftungsbeschränkt) (“Platform Operator”) regarding the transmission of publicly available information and data about businesses.
</p>
<p><strong>1.	Applicability of the Terms and Conditions, Precedence of mandatory law</strong>
<br />
1.	The General Terms and Conditions cover all contracts and services provided by the Platform Operator regarding the transmission of information, which was filtered and specified by the Customer. General terms and conditions or other pre-formulated contract terms used by the Customer do not apply, even if they simply contain additional provisions to these General Terms and Conditions.
<br />
2.	Only mandatory statutory provisions take precedence over the General Terms and Conditions.
</p>
<p><strong>2.	Scope of application</strong>
<br />
1.	The General Terms and Conditions cover all contracts that lead to the transmission of information to the Customer by the Platform Operator.
</p>
<p><strong>3.	Awarding of contracts, Information requirements</strong>
<br />
1.	A contract is concluded between the Customer and the Platform Operator, when the Customer, as further described in the following clauses, submits an offer on conclusion of a contract on the online platform and the Platform Operator automatically declare their acceptance of the offer via email by sending the requested information as a comma-seperated .csv file. 
<br />
2.	On the Platform Operator’s online platform, the Customer can specify the type of businesses, about which he wishes to receive information. The Customer can then preview 20 (in words: “twenty”) leads with reduced information, that are a sample output of the final file, to check whether his input led to the output of the right type of businesses. The Customer can then click on "Proceed". After clicking on "Proceed", the Customer must enter his email adress and must confirm that he did a preview and has read the terms and conditions and also agrees with them. With clicking on “Order Leads”, the Customer submits an offer on conclusion of a contract to the pre-specified conditions. 
<br />
3.	The Platform Operator will then automatically declare their acceptance of the offer by email by sending the requested information as a comma-seperated .csv file.

</p>
<p><strong>4.	Pricing, Obligation to pay</strong>
<br />
1.	The .csv file will include a certain number of rows (1 line equals 1 business lead).
<br />
2.	The price per row of data is €0.10. The Customer specifies the maximum amount of rows of data that the Customer wants to receive, as well as the maximum price.
<br />
3.	A row of data must include the following three data points: “Website URL”, “Address”, “Company Name”. If a row of data does not include all of these data points, the respective row will not be invoiced or refunded.
<br />
4.	The Customer will not receive duplicates. If, for any reason, the Customer should receive duplicates, the respective rows of data will not be invoiced or refunded.
<br />
5.	A duplicate is defined by a row of data, in which every field has the same value, as in a previously downloaded .csv or within the same .csv file.
<br />
6.	If the number of rows sent within the .csv file is less than the maximum number of lines set, the Customer only pays for the respective number of rows received at the above-mentioned price point.
<br />
7.	If the number of rows sent within the .csv is higher than the prespecified maximum number of lines, the Customer only has to pay the number of lines that were set as a maximum.
<br />
8.	The Platform cannot guarantee a minimum of rows.
<br />
9.	The quality of the data does not impact the obligation of the Customer to pay the full amount per line.
<br />
10.	The Platform Operator reserves the right to raise this price at any point of time. The price for information and data that was requested before the price was raised will not be affected.
</p>
<p><strong>5.	Invoices, foreign currencies</strong>
<br />
1.	Invoices of the Platform Operator are due immediately and its maturity is not dependent on presenting a transmission receipt.
<br />
2.	The Platform Operator reserves the right to delay invoicing for up to three years. This has no effect on the previous clause.
<br />
3.	Regarding foreign Customers, the Platform Operator is entitled to decide whether to receive payment in the foreign currency or in Euro.
<br />
4.	If the Customer owes foreign currency the Platform Operator is entitled to ask for payment in either the relevant foreign currency or in Euro. In the case of Euro, currency conversion is made according to the official exchange rate on the day of payment, unless it can be proven that a different exchange rate must be used.
<br />
5.	Payment according to a credit memo procedure must be expressly agreed. Irrespective of this, all credit memos are to be issued and paid immediately, upon completion of services.
</p>
<p><strong>6.	Set-off, Retention</strong>
<br />
1.	In the case of claims arising from the information transmission contract and associated non-contractual claims, set-off or retention is only permitted when the claim is uncontested, ready for decision or legally established.
</p>
<p><strong>7.	Liability of the Platform Operator</strong>
<br />
1.	The Platform Operator is solely and exclusively liable for damages according to the statutory provisions.
  </p>
<p><strong>8.	Confidentiality, Compliance</strong>
<br />
1.	The Customer is not allowed to distribute information and data that was requested and received to third parties. 
<br />
2.	Contractual parties are obliged to maintain confidentiality regarding all information marked as confidential and received during the execution of the information transmission contract. Information that is objectively not requiring secrecy for the other contracting party is excluded.
<br />
3.	Both contracting parties commit to carrying out their contractual duties and to act according to the legal regulations covering their business and to support and obey the principles of the United Nations Global Compact (UNGC), the United Nations Declaration of Human Rights, and the Declaration of the International Labour Organization regarding the 1998 Declaration on Fundamental Principles and Rights at Work, in accordance with national laws and customs. In particular, both parties will commit to:
<br />
<ul>
<li>no child or forced labour</li>
<li>comply to the relevant national laws and regulations regarding working hours, wages, salaries and, in particular, pay the statutory minimum wage, and to comply with any other obligations for employers</li>
<li>to comply to the current regulations on health and safety at work, and to provide a safe and healthy workplace to ensure the health of employees and to avoid accidents, injuries and work-related illness</li>
<li>prohibit all discrimination based on race, religion, disability, age, sexual orientation or sex.</li>
<li>comply to international standards on corruption, such as those published in UNGC and to adhere to local anticorruption and bribery laws.</li>
<li>adhere to all current environmental protection laws and regulations.</li>
</ul>
</p>
<p><strong>9.	Place of fulfilment, Jurisdiction and Applicable law</strong>
<br />
1.	The legal relationship between the Platform Operator and Customer is governed by German law.
<br />
2.	The place of fulfilment for all involved parties is the location of the Platform Operator’s business with the order or the enquiry.
<br />
3.	The place of jurisdiction for all disputes and all involved parties arising from the information transmission contract, an initial enquiry or are in relation to it, is the location of the Platform Operator’s business dealing with the order or enquiry. Claims against the Platform Operator are exclusively covered by this place of jurisdiction.
</p>
Last updated: December 2017
{% endblock %}
